<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="group">
    <% %w{width height margin_top margin_left margin_right margin_bottom}.each do |att| %>
    <div class="field">
      <%= f.label att %><br>
      <%= f.number_field att %>
    </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'tinymce'  %>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
