<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_adress.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @test_adress.first_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @test_adress.street %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test_adress.title %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @test_adress.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @test_adress.city %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @test_adress.birthday %>
</p>

<%= link_to 'Edit', edit_test_adress_path(@test_adress) %> |
<%= link_to 'Back', test_adresses_path %>
